<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActi"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".activity.MyListActivity"
            android:label="List" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".activity.DatabaseActi"
            android:label="Database" />

        <service android:name=".MusicPlayService" />

        <activity
            android:name=".activity.MusicPlayActivity"
            android:label="Music Play" />
        <activity
            android:name=".activity.BroadcastActi"
            android:label="Broadcast" />
        <activity
            android:name=".activity.GridActivity"
            android:label="@string/title_activity_grid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScreenSizeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Material" />
        <activity android:name=".activity.RestActivity" />

        <service
            android:name=".utility.RestService"
            android:exported="false" />

        <activity android:name=".activity.GsonActivity" />
        <activity android:name=".activity.MapActivity" />

        <!-- Google MAP API key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDmCRJkjStEOKicSmZK-2Q4dl3EeFRcNlw" />

        <provider
            android:name=".ImageProvider"
            android:authorities="com.example.myapplication.ImageProvider" />

        <activity android:name=".activity.ContentProviderActi" />
        <activity
            android:name=".activity.CacheActivity"
            android:label="Cache" />
        <activity
            android:name=".activity.PropAnimActivity"
            android:label="Animation" />
        <activity android:name=".activity.TasksActivity" />
        <activity android:name=".activity.CustomListActi" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RecyclerViewActi" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.LoaderActivity" />
        <activity
            android:name=".activity.AppBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProfileActivity" />
        </activity>
        <activity android:name=".activity.InflaterActi" />
        <activity android:name=".activity.SnackbarActi" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3e47aba1f59a8a50f75e4297e2886316d981c7cd" />

        <activity android:name=".activity.TwitterLoginActi" />
        <activity android:name=".activity.TweetViewActi" />
        <activity android:name=".activity.TweetTimelineActi" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.LongListActivity" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.GestureActi" />
        <activity android:name=".activity.CustomViewActi" />
        <activity android:name=".activity.NotificationActi" />
        <activity android:name=".activity.LayoutParamsActi" />
        <activity android:name=".activity.SortingActivity" />
        <activity
            android:name=".activity.ParcelActivity"
            android:label="@string/title_activity_parcel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PhotoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.TimerActivity" />
        <activity android:name=".activity.ViewAnimationActi" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.CustomAttriActi" />
        <activity android:name=".activity.BindServiceActi" />

        <service android:name=".LocalService" />

        <activity android:name=".activity.FragmentActi" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activity.SwipeRefreshActi"></activity>
    </application>

</manifest>